[Unit]
Description=install VizionViewer service

[Service]
Type=oneshot
ExecStartPre=/bin/sleep 10
ExecStart=/bin/bash /usr/sbin/install_vizionviewer.sh
ExecStartPost=/bin/systemctl disable install_vizionviewer.service
TimeoutStopSec=3
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
